    <div id="sidebar">
      <div class="">

        <div id="parcel">
          <ul class='nav nav-list'>
            <li><%= link_to 'Templates', templates_path %></li>        
          </ul>
        </div>

      </div>
    </div>
